# vscode
.vscode

# pycache
__pycache__

# venv
.venv

# data
!data/
data/*
data/temp.txt

# save
!saved/
saved/*

!saved/weights
saved/weights/*
!saved/weights/temp.txt

!saved/losses
saved/losses/*
!saved/losses/temp.txt
